
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
    font-family: "Super Webcomic Bros.";
    src: url('fonts/Super Webcomic Bros.');
} */

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

h1 {
    
    color: #ff8b00;
    font-size:  2rem;
    text-align: center;
    margin: 0;
    /* text-decoration: underline;
    font-style: italic;
    font-variant: small-caps; */
    
}
body {
    margin:0;
    background-color: beige;
    
}
img {
    width: max-content;
    border-radius: 22%;
}

.my-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    display: block;

  }
  
  

html, body{
    min-height: 100vh;
}
body {
    width: 800px;
    margin: auto;
    display:grid;
    grid-template-rows: minmax(130px, auto)
    1fr minmax(130px, auto);
    background: url('../img/stirpes_blue.jpeg') fixed;
}
.header {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1da36+0,fefcea+89,fefcea+89,fefcea+89,fefcea+89,fefcea+92,fefcea+92 */
background: rgb(241,218,54); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,218,54,1) 0%, rgba(254,252,234,1) 89%, rgba(254,252,234,1) 89%, rgba(254,252,234,1) 89%, rgba(254,252,234,1) 89%, rgba(254,252,234,1) 92%, rgba(254,252,234,1) 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(241,218,54,1) 0%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 92%,rgba(254,252,234,1) 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(241,218,54,1) 0%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 89%,rgba(254,252,234,1) 92%,rgba(254,252,234,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */

}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.container {
    background: rgba(232, 225, 5, 0.537);
}
.footer {
    background-color: rgba(246, 250, 0, 0.197);
}
.my_flex_container2 {
    margin: auto;
    width: 900px;
    height: auto;
    /* border: 1px solid rgb(250, 0, 187); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    
}
.left {
    width:50%;
    margin: auto; 
    /* border: 1px solid rgb(250, 0, 187); */
    background: #ff8b00;
    display:flex;
    grid-template-columns: minmax(60px, auto)
    1fr minmax(60px, auto);
    flex-shrink: 1;
    flex-grow: 1;
}
.right {
    width:50%;
    margin: auto; 
    /* border: 1px solid rgb(250, 0, 187); */
    background: #ff8b00;
    display:flex;
    grid-template-columns: minmax(60px, auto)
    1fr minmax(60px, auto);
    flex-shrink: 1;
    flex-grow: 1;
}
.my_flex_container_choose {
    margin: auto;
    width: 850px;
    /* height: 550px; */
    /* border: 1px solid rgb(250, 0, 187); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    
}
.my_flex_choose {
    margin: auto; 
    
    width: 230px;
    height: 230px;
    outline: 1px solid rgb(246, 250, 0);
    background: rgb(235, 247, 200);
    color: rgb(4, 39, 15);
    font-size: 0.6em;
    /* flex-grow: 1; */
}
.legend {
    font-size: 1.3em;
    text-align: center;
}
.my_flex_container {
    margin: auto;
    /* width: 850px; */
    height: 550px;
    /* border: 1px solid rgb(250, 0, 187); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    
}
.my_flex_block {
    margin: auto; 
    text-align: center;
    width: 180px;
    height: 170px;
    outline: 1px solid rgb(246, 250, 0);
    background: rgb(235, 247, 200);
    color: rgb(4, 39, 15);
    /* flex-grow: 1; */
}

.my_flex_block:nth-child(n+5){
    margin-top: 20px;
}





/* div{
    color:blue;
    font-size: 2rem;
}*/
ul{
    width:21%;
    float: right;
    color:rgb(119, 5, 233);
    list-style-type: disclosure-closed;
} 
/* @media (max-width: 767px) {
    div{
        color:rgb(226, 43, 174);
        float: none;
        width:auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div{
        color:rgb(10, 110, 10);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    div{
        color:rgba(0, 0, 0, 1);
    }
} */


/* вставка для формы */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}





/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: white;
  text-align: center
